body {
	background: black;
}

#container{
	position: absolute;
	width: 800px;
	height: 700px;
	transform: translate(-50%,-50%);/*To set it on the middle of the page*/
	top: 50%;
	left: 50%;
	font-size: 25px;
}

#canvas1{
	position: relative; /*canvas aligned with container*/
	width: 800px;
	height: 700px;
}

#slider{
	width:100%;
}

p{
	color: white;
}
